html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: #f8f9fa; /* Cor de fundo clara */
  text-align: center;
  padding: 1rem; /* Ajuste o padding conforme necessário */
  margin-top: auto; /* Empurra o footer para o fundo */
}

#ico-atl {
  position: absolute;
  margin: -45px 150px;
}

#confirm {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}

#exclude {
  width: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #ico-atl {
    display: flex;
  }
}

function fetchUsers() {
  fetch("https://kinkbarbearia.pythonanywhere.com/users")
    .then((response) => response.json())
    .then((data) => {
      const usuariosList = document.getElementById("usuariosList");
      usuariosList.innerHTML = "";

      data.forEach((user) => {
        const li = document.createElement("li");
        li.className = "list-group-item";

        const nameSpan = document.createElement("span");
        nameSpan.className = "user-name";
        nameSpan.textContent = user.name;

        const phoneSpan = document.createElement("span");
        phoneSpan.className = "user-phone";
        phoneSpan.textContent = ` - ${user.phone}`;

        const emailSpan = document.createElement("span");
        emailSpan.className = "user-email";
        emailSpan.textContent = ` - ${user.email}`;

        li.appendChild(nameSpan);
        li.appendChild(phoneSpan);
        li.appendChild(emailSpan);

        usuariosList.appendChild(li);
      });
    })
    .catch((error) => console.error("Erro ao buscar usuários:", error));
}
